<footer id="contact">
    <p id="print-banner">Acesta este un proiect școlar!</p>
    <h2>Informații de Contact</h2>
    <address>
        Telefon: <a href="tel:0729430322">0729 430 322</a><br>
        Email: <a href="mailto:comenzi@xomechtry.ro">comenzi@xomechtry.ro</a><br>
        Adresă: <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica" target="_blank">Facultatea de Matematică<br>și Informatică</a><br>
        Chat: <a href="https://wa.me/40711222333" target="_blank">Contactează-ne pe WhatsApp</a>
    </address>
    <p>Adresa ta IP este: <strong><%= ip %></strong></p>
    <p><small>Copyright © <time datetime="2026-04-27">27 Aprilie 2026</time> Duminică Adrian Cătălin</small></p>
</footer>
<a href="#top" id="link-top" title="In susul paginii"><span>↑</span></a>