<footer id="contact">
    <p id="print-banner">Acesta este un proiect școlar!</p>
    <h2>Informații de Contact</h2>
    <address>
        Telefon: 0711 222 333<br>
        Email: comenzi@xomechtry.ro
    </address>
    <p>Adresa ta IP este: <strong><%= ip %></strong></p>
    <p><small>Copyright © 2026 Duminică Adrian Cătălin</small></p>
</footer>
<a href="#top" id="link-top" title="In susul paginii"><span>↑</span></a>