<div id="watermark-print">Duminică Adrian Cătălin</div>
<header>
    <h1>Xomechtry <i class="fa-solid fa-industry"></i></h1>
    <div id="hamburger-menu" class="hamburger">
        <span class="bar"></span><span class="bar"></span><span class="bar"></span>
    </div>
    <nav id="main-nav">
        <ul class="menu-principal">
            <li>
                <a href="/index" class="nav-link"><i class="fa-solid fa-house"></i> <span class="nav-text">Acasă</span></a>
                <ul class="sub-meniu">
                    <li><a href="#welcome">Prezentare</a></li>
                    <li><a href="#tarife">Tarife</a></li>
                    <li><a href="#evenimente">Evenimente</a></li>
                </ul>
            </li>
            <li>
                <a href="/despre" class="nav-link"><i class="fa-solid fa-cubes"></i> <span class="nav-text">Despre Noi</span></a>
            </li>
        </ul>
    </nav>
</header>